# macOS system files
.DS_Store

# Node modules
node_modules/

# Playwright reports and results
allure-results/
allure-report/
test-results/
playwright-report/

# Environment variables
.env

# Logs and temp files
*.log
tmp/
